.main-navigation_menu-btn {
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 2rem;
  cursor: pointer;
}

.main-navigation_menu-btn span {
  display: block;
  width: 3rem;
  height: 2.5px;
  background: white;
}

.main-navigation_title a {
  border: 1px solid transparent;
  color: #292929;
  text-decoration: none;
  padding: 0.5rem;
}
.main-navigation_title a:hover,
.main-navigation_title a:active,
.main-navigation_title a.active {
  background: #f84f00;
  border-color: #292929;
  border-radius: 30%;
  color: #292929;
}

/* .main-navigation_title a {
  text-decoration: none;
  color: white;
} */

.main-navigation_header-nav {
  display: none;
}

.main-navigation_drawer-nav {
  height: 100%;
}

@media (min-width: 768px) {
  .main-navigation_menu-btn {
    display: none;
  }

  .main-navigation_header-nav {
    display: block;
  }
}
